%tr
  - commits_count = @total_commits_count[cr.repository.name]
  - position = commits_count.find_index([@user_data.user.login, commits_count.to_h[@user_data.user.login]])
  %td
    %a{ href: cr.repository.url }
      %strong
        = cr.repository.name
  %td
    - if cr.repository.languages.edges.empty?
      No language dectected on this repository.
    - else
      - cr.repository.languages.edges.each do |l|
        .badge{ style: "color: #fff; background-color: #{l.node.color}" }= l.node.name
  - if position.nil?
    %td
      No commits
    %td
      None
  - else
    %td
      = commits_count[position].second
    %td
      = position + 1