.table-responsive.container
  %table.table.table-hover.mb-0
    %thead
      %tr
        %th Repository name
        %th Languages
        %th Commits count (on all branch)
        %th Position
    %tbody
      - @user_data.user.contributionsCollection.commitContributionsByRepository.each do |cr|
        = render 'repository', cr: cr