.d-flex.flex-column.align-items-center
  %p
    - if @user_data.nil? || @user_data.user.nil?
      .alert.alert-danger
        User not found.
    - else
      %h1= @user_data.user.name
      %i.text-grey
        = @user_data.user.login
      Most used languages :
      %p= "#{@most_used_language.first} - #{@most_used_language.second} - #{@most_used_language.third}"
      = render 'repositories'

.d-flex.justify-content-center.p-2
  = link_to "Return to home", root_path, class: 'btn btn-info', data: { turbolinks: false }
