.container
  .form-group
    %form{action: users_search_path, method: "post"}
      %input.form-control{name: "login", type: "text", placeholder: 'Github username'}
      %input{type: 'hidden', name: 'authenticity_token'}
      .d-flex.justify-content-center.p-2
        %button.btn.btn-info{type: "submit"} Search last year data